<md-list>
    <md-item>
        <md-item-content>
            <label>Date <span class="required" ng-if="required">*</span></label>
            <i class="icon  icon--input" data-icon="&#xe02c;"></i>
            <input type="date" ng-model="applydate">
        </md-item-content>
    </md-item>
    <md-item>
        <md-item-content>
            <label>Time <span class="required" ng-if="required">*</span></label>
            <i class="icon  icon--input" data-icon="&#xe01c;"></i>
            <input type="time" ng-model="applytime">
        </md-item-content>
    </md-item>
</md-list>
